<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Location 사용 권한 설정 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 백그라운드에서 Location 사용 권한 설정(지금은 사용 안함) -->
    <!-- uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/wdg_logo_black"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wdg_logo_black"
        android:supportsRtl="true"
        android:theme="@style/Theme.Watdagam"
        tools:targetApi="31">

        <!-- Activities -->
        <activity
            android:name=".Intro.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"/>
        <activity
            android:name=".Signup.SignupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Kakao Login -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao27c267b47e61135cd098eb3fc9270bc6://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao27c267b47e61135cd098eb3fc9270bc6" />
            </intent-filter>
        </activity>
    </application>


</manifest>